In [4]:
!pip install Spark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: Spark
  Building wheel for Spark (setup.py) ... done
  Created wheel for Spark: filename=spark-0.2.1-py3-none-any.whl size=58747 sha256=66bcc18108f7b4167d8c5f075ba203a37fc319497ec7180e25db2361210b82b1
  Stored in directory: /root/.cache/pip/wheels/63/88/77/b4131110ea4094540f7b47c6d62a649807d7e94800da5eab0b
Successfully built Spark
Installing collected packages: Spark
Successfully installed Spark-0.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=31b0c73a58dd6520f1f9b43a506f158d794ff5cfdc5d1e39a23e94eb8c76d02b
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()

df_nomes = spark.read.csv("nomes_aleatorios.txt", header=False)

df_nomes.show(5)

+----------------+
|             _c0|
+----------------+
|  Frances Bennet|
|   Jamie Russell|
|  Edward Kistler|
|   Sheila Maurer|
|Donald Golightly|
+----------------+
only showing top 5 rows

In [7]:
from pyspark.sql.functions import col

df_nomes = df_nomes.withColumnRenamed("_c0", "Nomes")

df_nomes.printSchema()

df_nomes.show(10)

root
 |-- Nomes: string (nullable = true)

+-----------------+
|            Nomes|
+-----------------+
|   Frances Bennet|
|    Jamie Russell|
|   Edward Kistler|
|    Sheila Maurer|
| Donald Golightly|
|       David Gray|
|      Joy Bennett|
|      Paul Kriese|
|Berniece Ornellas|
|    Brian Farrell|
+-----------------+
only showing top 10 rows

In [10]:
from pyspark.sql.functions import when, rand

df_nomes = df_nomes.withColumn("Escolaridade", when(rand() < 1/3, "Fundamental")
                                                .when(rand() < 2/3, "Médio")
                                                .otherwise("Superior"))

df_nomes.show(10)

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
|   Frances Bennet| Fundamental|
|    Jamie Russell| Fundamental|
|   Edward Kistler|       Médio|
|    Sheila Maurer|       Médio|
| Donald Golightly|    Superior|
|       David Gray|    Superior|
|      Joy Bennett|       Médio|
|      Paul Kriese| Fundamental|
|Berniece Ornellas|       Médio|
|    Brian Farrell|       Médio|
+-----------------+------------+
only showing top 10 rows

In [11]:
from pyspark.sql.functions import when, rand

paises_americasul = ["Argentina", "Bolívia", "Brasil", "Chile", "Colômbia", "Equador", "Guiana", "Paraguai", "Peru", "Suriname", "Uruguai", "Venezuela", "Ilhas Maldivas"]

df_nomes = df_nomes.withColumn("País", when(rand() < 1/13, paises_americasul[0])
                                        .when(rand() < 2/13, paises_americasul[1])
                                        .when(rand() < 3/13, paises_americasul[2])
                                        .when(rand() < 4/13, paises_americasul[3])
                                        .when(rand() < 5/13, paises_americasul[4])
                                        .when(rand() < 6/13, paises_americasul[5])
                                        .when(rand() < 7/13, paises_americasul[6])
                                        .when(rand() < 8/13, paises_americasul[7])
                                        .when(rand() < 9/13, paises_americasul[8])
                                        .when(rand() < 10/13, paises_americasul[9])
                                        .when(rand() < 11/13, paises_americasul[10])
                                        .when(rand() < 12/13, paises_americasul[11])
                                        .otherwise(paises_americasul[12]))

# Mostrar o DataFrame com a nova coluna
df_nomes.show(10)

+-----------------+------------+---------+
|            Nomes|Escolaridade|     País|
+-----------------+------------+---------+
|   Frances Bennet| Fundamental|   Guiana|
|    Jamie Russell| Fundamental|Argentina|
|   Edward Kistler|       Médio|   Guiana|
|    Sheila Maurer|       Médio|    Chile|
| Donald Golightly|    Superior|   Brasil|
|       David Gray|    Superior|   Guiana|
|      Joy Bennett|       Médio|   Brasil|
|      Paul Kriese| Fundamental| Colômbia|
|Berniece Ornellas|       Médio|  Bolívia|
|    Brian Farrell|       Médio|  Equador|
+-----------------+------------+---------+
only showing top 10 rows

In [13]:
from pyspark.sql.functions import rand, expr

df_nomes = df_nomes.withColumn("AnoNascimento", expr("int(1945 + rand() * (2010 - 1945))"))

df_nomes.show(10)

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     País|AnoNascimento|
+-----------------+------------+---------+-------------+
|   Frances Bennet| Fundamental|   Guiana|         2005|
|    Jamie Russell| Fundamental|Argentina|         1975|
|   Edward Kistler|       Médio|   Guiana|         1964|
|    Sheila Maurer|       Médio|    Chile|         1963|
| Donald Golightly|    Superior|   Brasil|         2008|
|       David Gray|    Superior|   Guiana|         1963|
|      Joy Bennett|       Médio|   Brasil|         1952|
|      Paul Kriese| Fundamental| Colômbia|         1948|
|Berniece Ornellas|       Médio|  Bolívia|         1965|
|    Brian Farrell|       Médio|  Equador|         1997|
+-----------------+------------+---------+-------------+
only showing top 10 rows

In [15]:
df_select = df_nomes.filter(df_nomes.AnoNascimento >= 2001)

df_select.select("Nomes").show(10)

+----------------+
|           Nomes|
+----------------+
|  Frances Bennet|
|Donald Golightly|
|     Albert Leef|
|    Charles Hill|
|     Frank Wiley|
|  Amanda Gravitt|
|   Michael Agnew|
|     Donald Vogt|
|   Lynne Dustman|
|  Ashley Trosper|
+----------------+
only showing top 10 rows

In [16]:
df_nomes.createOrReplaceTempView("pessoas")

df_select = spark.sql("SELECT * FROM pessoas WHERE AnoNascimento >= 2001")

df_select.select("Nomes").show(10)

+----------------+
|           Nomes|
+----------------+
|  Frances Bennet|
|Donald Golightly|
|     Albert Leef|
|    Charles Hill|
|     Frank Wiley|
|  Amanda Gravitt|
|   Michael Agnew|
|     Donald Vogt|
|   Lynne Dustman|
|  Ashley Trosper|
+----------------+
only showing top 10 rows

In [17]:
df_millennials = df_nomes.filter((df_nomes.AnoNascimento >= 1980) & (df_nomes.AnoNascimento <= 1994))

count_millennials = df_millennials.count()

print("Número de pessoas da geração Millennials:", count_millennials)

Número de pessoas da geração Millennials: 1009117

In [18]:
df_nomes.createOrReplaceTempView("pessoas")

count_millennials = spark.sql("SELECT COUNT(*) FROM pessoas WHERE AnoNascimento BETWEEN 1980 AND 1994").collect()[0][0]

print("Número de pessoas da geração Millennials:", count_millennials)

Número de pessoas da geração Millennials: 1009117

In [66]:
# Registrar o DataFrame como tabela temporária
df_nomes.createOrReplaceTempView("pessoas")

# Consulta para contar a quantidade de pessoas da geração Baby Boomers por país
df_boomers = spark.sql("SELECT 'País', 'Baby Boomers' AS Geracao, COUNT(*) AS Quantidade FROM pessoas WHERE AnoNascimento >= 1944 AND AnoNascimento <= 1964 GROUP BY 'País'")

# Consulta para contar a quantidade de pessoas da geração X por país
df_geracao_x = spark.sql("""
    SELECT 'País', 'Geracao X' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento >= 1965 AND AnoNascimento <= 1979
    GROUP BY 'Pais'
""")

# Consulta para contar a quantidade de pessoas da geração Millennials por país
df_millennials = spark.sql("""
    SELECT 'País', 'Millennials' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento >= 1980 AND AnoNascimento <= 1994
    GROUP BY 'País'
""")

# Consulta para contar a quantidade de pessoas da geração Z por país
df_geracao_z = spark.sql("""
    SELECT 'País', 'Geracao Z' AS Geracao, COUNT(*) AS Quantidade
    FROM pessoas
    WHERE AnoNascimento >= 1995 AND AnoNascimento <= 2015
    GROUP BY 'País'
""")

# Unir os resultados das consultas em um único DataFrame
df_resultado = df_boomers.union(df_geracao_x).union(df_millennials).union(df_geracao_z)

# Mostrar todas as linhas em ordem crescente de Pais, Geracao e Quantidade
df_resultado.orderBy("País", "Geracao", "Quantidade").show()

+----+------------+----------+
|País|     Geracao|Quantidade|
+----+------------+----------+
|País|Baby Boomers|   1344381|
|País|   Geracao X|   1007393|
|País|   Geracao Z|   1007533|
|País| Millennials|   1009117|
+----+------------+----------+