In [2]:
!python -m pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

In [9]:
import requests
import pandas as pd
from IPython.display import display

api_key = "c4fbd56df43703188a7fd4eb3f2c775a"
url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=pt-BR"

response = requests.get(url)
data = response.json()

filmes = []

for movie in data['results']:
    df = {
        'Titulo': movie['title'],
        'Data de lançamento': movie['release_date'],
        'Visão geral': movie['overview'],
        'Votos': movie['vote_count'],
        'Média de votos': movie['vote_average']
    }
    filmes.append(df)

df_filmes = pd.DataFrame(filmes)
display(df_filmes)

,Titulo,Data de lançamento,Visão geral,Votos,Média de votos
0,O Poderoso Chefão,1972-03-14,"Em 1945, Don Corleone é o chefe de uma mafiosa...",17965,8.7
1,Um Sonho de Liberdade,1994-09-23,"Em 1946, Andy Dufresne, um banqueiro jovem e b...",23805,8.7
2,O Poderoso Chefão: Parte II,1974-12-20,"Após a máfia matar sua família, o jovem Vito f...",10843,8.6
3,Cuando Sea Joven,2022-09-14,,236,8.5
4,Dilwale vai levar a noiva,1995-10-19,Raj e Simran são dois jovens indianos vivendo ...,4132,8.6
5,A Lista de Schindler,1993-12-15,O alemão Oskar Schindler viu na mão de obra ju...,14078,8.6
6,A Viagem de Chihiro,2001-07-20,Chihiro e seus pais estão se mudando para uma ...,14314,8.5
7,12 Homens e Uma Sentença,1957-04-10,Um jovem porto-riquenho é acusado do brutal cr...,7280,8.5
8,Your Name.,2016-08-26,Mitsuha é a filha do prefeito de uma pequena c...,9854,8.5
9,Parasita,2019-05-30,"Toda a família de Ki-taek está desempregada, v...",15751,8.5
10,Batman: O Cavaleiro das Trevas,2008-07-14,"Após dois anos desde o surgimento do Batman, o...",29734,8.5
11,À Espera de um Milagre,1999-12-10,"Milagres acontecem em lugares inesperados, mes...",15416,8.5
12,Pulp Fiction: Tempo de Violência,1994-09-10,Vincent Vega (John Travolta) e Jules Winnfield...,25189,8.5
13,Três Homens em Conflito,1966-12-23,"Durante o auge da Guerra Civil, um misterioso ...",7403,8.5
14,Forrest Gump: O Contador de Histórias,1994-06-23,"Quarenta anos da história dos Estados Unidos, ...",24678,8.5
15,O Senhor dos Anéis: O Retorno do Rei,2003-12-01,O confronto final entre as forças do bem e do ...,21605,8.5
16,"O Menino, a Toupeira, a Raposa e o Cavalo",2022-12-25,"Acompanhe a improvável união de quatro amigos,...",327,8.5
17,Os Bons Companheiros,1990-09-12,Um jovem cresce na máfia e trabalha arduamente...,11263,8.5
18,Doukyuusei,2016-02-20,"A história começa numa aula de música quando, ...",306,8.5
19,Primal: Tales of Savagery,2019-11-21,,264,8.5